<script>
  window.wpbingo = window.wpbingo || {};
  wpbingo.strings = {
    moneyFormat: {{ shop.money_format | json }},
    zoomClose: {{ 'products.zoom.close' | t | json }},
    zoomPrev: {{ 'products.zoom.prev' | t | json }},
    zoomNext: {{ 'products.zoom.next' | t | json }},
    productSlideLabel: {{ 'products.product.slide_label' | t: slide_number: '[slide_number]', slide_max: '[slide_max]' | json }},
    countdownDays: {{ 'general.countdown.days' | t | json }},
    countdownHours: {{ 'general.countdown.hours' | t | json }},
    countdownMinutes: {{ 'general.countdown.minutes' | t | json }},
    countdownSeconds: {{ 'general.countdown.seconds' | t | json }},
    countdownFinish: {{ 'general.countdown.finish' | t | json }},
    external: {{ 'products.product.buy_product' | t | json }},
	add_to_cart: {{ 'products.product.add_to_cart' | t | json }},
	view_group: {{ 'products.product.view_group' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }},
    inStock: {{ 'products.product.in_stock' | t | json }},
    outStock: {{ 'products.product.out_stock' | t | json }},
    cartEmpty: {{ 'cart.general.empty' | t | json }},
    cartCookies: {{ 'cart.general.cookies_required' | t | json }},
	come_back: {{ settings.text_come_back1 | json }},
	forget: {{ settings.text_come_back2 | json }},
    newsletterSuccess: {{ 'general.newsletter_form.newsletter_confirmation' | t | json }}
  };
  wpbingo.settings = {
    cartType: {{ settings.cart_type | json }},
    enableReview: {{ settings.product_reviews_enable | json }},
    sidebarMultiChoise: true,
    enableQuickView: {{ settings.quickview_enable | json }},
	enableGiftCard: {{ settings.show_gift_card | json }},
    quickViewVariantType: {{ settings.quickview_variant_selector | json }},
	filter_name_1	: {{ settings.filter_name_1 | json }},
	select_filter_1	: {{ settings.select_filter_1 | json }},
	filter_name_2	: {{ settings.filter_name_2 | json }},
	select_filter_2	: {{ settings.select_filter_2 | json }},
	filter_name_3	: {{ settings.filter_name_3 | json }},
	select_filter_3	: {{ settings.select_filter_3 | json }},
	size_option		: {{ settings.size_option | json }},
	style_option	: {{ settings.style_option | json }},
    fileURL: "{{ '' | file_url | split: '?' | first }}",
	show_come_back:{{ settings.show_come_back | json }},
  };
  wpbingo.loading = '<div class="wpbingo-loading"><div class="wpbingo-loading__icon"><span></span><span></span><span></span><span></span></div></div>';
</script>
{%- if request.page_type contains 'customers/' -%}
	<script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
{%- endif -%}
