{%- for i in (1..4) -%} 
  <div class="slick-carousel__item col-3">
    <div class="product-card">
      <div class="product-card__image-wrapper">
        <a class="product-card__image-link" href="/admin/products">
          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </a>
        <div class="product-card__label">
          <span class="product-card__on-sale">20% {{ 'products.general.save_html' | t }}</span>
        </div>
		<div class="product-card__buttons">
          <div class="product-card__form" data-title="{{ 'products.product.add_to_cart' | t }}">
            <a class="btn btn--add-to-cart" href="/admin/products">
              <span>{{ 'products.product.add_to_cart' | t }}</span>
            </a>
          </div>
          {%- if settings.quickview_enable -%}
            <div class="product-card__quickview" data-title="{{ 'products.product.quickview' | t }}">
              <a class="btn btn--quickview" href="/admin/products">
                <span>{{ 'products.product.quickview' | t }}</span>
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
      <div class="product-card__content">
        <div class="product-card__name">
          <a href="/admin/products">{{ 'home_page.onboarding.product_title' | t }}</a>
        </div>
        <div class="product-card__price">
          <div class="product-group-price">
            <div class="product-price product-price--regular">$19.99</div>
            <div class="product-price">$29.99</div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endfor -%}
