{%- if select_pagination == 'pagination' -%}						
	{% capture previous_label %}
	  <span class="pagination__navigation">
		<i class="feather-chevron-left"></i>
		<span class="sr-only">{{ 'general.pagination.previous' | t }}</span>
	  </span>
	{% endcapture %}
	{% capture next_label %}
	  <span class="pagination__navigation">
		<i class="feather-chevron-right"></i>
		<span class="sr-only">{{ 'general.pagination.next' | t }}</span>
	  </span>
	{% endcapture %}
	<div class="pagination">
	  {{ paginate | default_pagination: previous: previous_label, next: next_label }}
	</div>
{%- elsif select_pagination == 'loadmore' -%}
	<a href="{{ paginate.next.url }}" title="">{{ 'collections.general.load_more' | t }}
		<div class="lds-ellipsis"></div>
	</a>
{%- elsif select_pagination == 'infinity' -%}
	<a href="{{ paginate.next.url }}" title="">
		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
	</a>
{%- endif -%}