{%- assign sold_out = true -%}
{%- if product.available -%}
	{%- assign sold_out = false -%}
{%- endif -%}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
	{%- assign on_sale = true -%}
{%- endif -%}
{%- if product.type contains "label" -%}
	{% assign label_card	= product.type | split: "|" %}
	{% assign label_array	= label_card[1] | split: "," %}
{% endif %}
{%- if sold_out -%}
<div class="product-stock">
    <span class="product-card__sold-out">{{ 'products.product.out_stock' | t }}</span>
</div>
{%- endif -%}
<div class="product-card__label">
	{% if group_product == blank and on_sale %}
		{%- capture saved_amount -%}
			{%- assign price = product.compare_at_price | minus: product.selected_or_first_available_variant.price -%}
			{%- assign price_pecent = price | times: 100 -%}
			{{ price_pecent | divided_by: product.compare_at_price  }}%
		{%- endcapture -%}
		<span class="product-card__on-sale">-{{ saved_amount }}</span>
	{% endif %}
	{%- if product.type contains "label" -%}
		{% for labels in label_array %}
			{% assign label	= labels | split: "-" %}
			<span class="product-card__label_custom" style="background:{{ label[1] }}">{{ label[0] }}</span>
		{% endfor %}
	{% endif %}
</div>