<div class="js-product-thumbnails js-product-thumbnails-{{ section.id }}{%- if varriant_array != blank -%}-{{ forloop.index }}{% endif %} product-single__thumbnails" data-columns="{{ section.settings.thumbnail_count }}" {% if img_thumbnail and vertical %}data-vertical="true"{% endif %}>
<div class="swiper-wrapper">
{%- if videoId != blank -%}
	<div class="product-single__thumbnail-wrapper swiper-slide">
		<img src="http://img.youtube.com/vi/{{ videoId[1] }}/sddefault.jpg" width="300" height="400" />
	</div>
{% endif %}
{%- if variants_group_image != blank -%}
    {%- if variant_featured_media != blank -%}
          {% assign media = variant_featured_media %}
           <div class="product-single__thumbnail-wrapper swiper-slide">
              <div class="product-media__wrapper">
                  {%- capture thumbnail_alt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- elsif media.media_type == 'model' -%}
                          {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                          {{ 'products.product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                  {%- endcapture -%}
                  <a href="javascript:void(0)"
                      class="{%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                      product-single__video{%- else -%}product-single__thumbnail{% endif %}
                      {% if media == featured_media %} active-thumb{% endif %}"
                      data-media="{{ media | image_url:width:media.width,height:media.height }}"
                      data-media-id="{{ section.id }}-{{ media.id }}"
                      data-product-thumbnail>
                      <img class="product-image__thumb lazyload fade-in" src="{{ media | image_url:width:150 }}" alt="{{ thumbnail_alt }}" width="150" height="auto" >
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                          <div class="product-single__thumbnail-badge  {{ media.media_type }}">
                              {%- if media.media_type == 'model' -%}
                                  <i class="icon-model"></i>
                              {%- else -%}
                                  <i class="feather-play"></i>
                              {%- endif -%}
                          </div>
                      {%- endif -%}
                  </a>
              </div>
          </div>
      {%- endif -%}
    {% for media in variants_group_image %}
          <div class="product-single__thumbnail-wrapper swiper-slide">
              <div class="product-media__wrapper">
                  {%- capture thumbnail_alt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- elsif media.media_type == 'model' -%}
                          {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                          {{ 'products.product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                  {%- endcapture -%}
                  <a href="javascript:void(0)"
                      class="{%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                      product-single__video{%- else -%}product-single__thumbnail{% endif %}
                      {% if media == featured_media %} active-thumb{% endif %}"
                      data-media="{{ media | image_url:width:media.width,height:media.height }}"
                      data-media-id="{{ section.id }}-{{ media.id }}"
                      data-product-thumbnail>
                      <img class="product-image__thumb lazyload fade-in" src="{{ media | image_url:width:150 }}" alt="{{ thumbnail_alt }}" width="150" height="auto" >
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                          <div class="product-single__thumbnail-badge  {{ media.media_type }}">
                              {%- if media.media_type == 'model' -%}
                                  <i class="icon-model"></i>
                              {%- else -%}
                                  <i class="feather-play"></i>
                              {%- endif -%}
                          </div>
                      {%- endif -%}
                  </a>
              </div>
          </div>
    {% endfor %}
{%- else -%}
{% for media in product.media %}
	{% if product.media.size > 0 %}
          <div class="product-single__thumbnail-wrapper swiper-slide">
              <div class="product-media__wrapper">
                  {%- capture thumbnail_alt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                          {{ 'products.product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- elsif media.media_type == 'model' -%}
                          {{ 'products.product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                          {{ 'products.product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                  {%- endcapture -%}
                  <a href="javascript:void(0)"
                      class="{%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                      product-single__video{%- else -%}product-single__thumbnail{% endif %}
                      {% if media == featured_media %} active-thumb{% endif %}"
                      data-media="{{ media | image_url:width:media.width,height:media.height }}"
                      data-media-id="{{ section.id }}-{{ media.id }}"
                      data-product-thumbnail>
                        <img class="product-image__thumb lazyload fade-in" src="{{ media | image_url:width:150 }}" alt="{{ thumbnail_alt }}" width="{{ media.width }}" height="{{ media.height }}" >
                        {%- if media.media_type == 'video' or media.media_type == 'external_video' or media.media_type == 'model' -%}
                            <div class="product-single__thumbnail-badge  {{ media.media_type }}">
                                {%- if media.media_type == 'model' -%}
                                    <i class="feather-box"></i>
                                {%- else -%}
                                    <i class="feather-play"></i>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                  </a>
              </div>
          </div>
	{% endif %}
{% endfor %}
 {%- if image_360 != blank -%}
     {% for media in image_360 %}
        <div class="product-single__thumbnail-wrapper swiper-slide">
          <div class="product-media__wrapper">
              <a href="javascript:void(0)"
                  class="product-single__thumbnail
                  {% if media == featured_media %} active-thumb{% endif %}"
                  data-media="{{ media | image_url:width:media.width,height:media.height }}"
                  data-media-id="{{ section.id }}-{{ media.id }}"
                  data-product-thumbnail>
                    <img class="product-image__thumb lazyload fade-in" src="{{ media | image_url:width:150 }}" width="150" height="auto" >
                    <div class="product-single__thumbnail-badge image-360">
                        <i>360</i>
                    </div>
              </a>
          </div>
      </div>
        {% break %}
      {% endfor %}
  {%- endif -%}
{%- endif -%}
</div>
</div>