{%- assign name = block.settings.name | escape -%}
{%- assign logo = block.settings.image -%}
{%- assign url = block.settings.url -%}
<div class="brand-card">
    <a class="brand-card__link image image-effect" href="{{ url }}" title="{{ name }}">
        {%- if logo -%}
            <img class="lazyload fade-in brand-card__img" src="{{ logo | image_url }}" width="{{ logo.width }}" height="{{ logo.height }}" />
        {%- else -%}
            <img class="lazyload fade-in" src="{{ 'placeholder.svg' | asset_url }}" alt="image demo" width="100" height="100" />
        {%- endif -%}
    </a>
</div>
{% schema %}
  {
    "name": "Brand",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Brand"
        },
        {
            "type": "url",
            "id": "url",
            "label": "URL",
            "default": "/collections/all"
        }
    ],
    "presets": [{"name": "Brand"}]
  }
{% endschema %}