{% assign margin 			= block.settings.margin | split: "|" %}
{% assign padding 			= block.settings.padding | split: "|" %}
<style>
	{%- if margin[0] != blank or padding[0] != blank -%}
		#shopify-block-{{ block.id }} .featured-video{
			{%- if margin[0] != blank -%}margin: {{ margin[0] }};{%- endif -%}
			{%- if padding[0] != blank -%}padding:{{ padding[0] }};{%- endif -%}
		}
	{%- endif -%}
	{%- if margin[1] != blank or padding[1] != blank -%}
		@media (max-width:1199px){
			#shopify-block-{{ block.id }} .featured-video{
				{%- if margin[1] != blank -%}margin: {{ margin[1] }};{%- endif -%}
				{%- if padding[1] != blank -%}padding:{{ padding[1] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[2] != blank or padding[2] != blank -%}
		@media (max-width:991px){
			#shopify-block-{{ block.id }} .featured-video{
				{%- if margin[2] != blank -%}margin: {{ margin[2] }};{%- endif -%}
				{%- if padding[2] != blank -%}padding:{{ padding[2] }};{%- endif -%}
			}
		}
	{%- endif -%}
	{%- if margin[3] != blank or padding[3] != blank -%}
		@media (max-width:767px){
			#shopify-block-{{ block.id }} .featured-video{
				{%- if margin[3] != blank -%}margin: {{ margin[3] }};{%- endif -%}
				{%- if padding[3] != blank -%}padding:{{ padding[3] }};{%- endif -%}
			}
		}
	{%- endif -%}
</style>
<div class="featured-video">
    <div class="bwp-video">
    {%- if block.settings.video != blank -%}
        <video playsinline="" loop="loop" autoplay="autoplay" muted="muted" src="{{ block.settings.video.sources.last.url }}"></video>
    {%- else -%}
        <video playsinline="" loop="loop" autoplay="autoplay" muted="muted" src="https://cdn.shopify.com/videos/c/o/v/fb6b6cbce4854ce8973b9f89b0ac5642.mp4"></video>
    {%- endif -%}
    </div>
    <div class="content">
        {% if block.settings.product != blank %}
        {% assign product = all_products[block.settings.product] %}
        {% if product %}
            {% render 'product-grid-hover-10', product:product %}
        {% endif %}
        {% endif %}
    </div>
</div>
{% schema %}
  {
    "name": "Video Product",
    "settings": [
        {
            "type": "header",
            "content": "Content settings"
        },
        {
            "type": "video",
            "id": "video",
            "label": "Shopify video"
        },
        {
            "type": "product",
            "id": "product",
            "label": "Select product"
        },
        {
			"type": "textarea",
			"id": "padding",
			"label": "Padding",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		},
		{
			"type": "textarea",
			"id": "margin",
			"label": "Margin",
			"placeholder": "0px 0px 0px 0px",
			"info":"Screen: desktop | 1200px | 991px | 767px"
		}
    ],
    "presets": [{"name": "Video Product"}]
  }
{% endschema %}