<div class="blog-sidebar">
    {%- if block.settings.search_enable -%}
		<div class="blog-search">
            <h4 class="blog-sidebar__title">{{ block.settings.search_title | escape }}</h4>
			<form action="{{ routes.search_url }}" method="get" class="blog-search__form" role="search">
				<input type="hidden" name="type" value="article" />
				<input class="form-control blog-search__input" type="search" name="q" value="{{ search.terms | escape }}"
					placeholder="{{ 'general.search.placeholder_blog' | t }}..."
					aria-label="{{ 'general.search.placeholder_blog' | t }}">
				<button type="submit" class="btn blog-search__btn">
					<i class="icon-search"></i>
					<span class="d-none">{{ 'general.search.submit' | t }}</span>
				</button>
			</form>
		</div>
    {%- endif -%}
	{%- if block.settings.categories_enable -%}
		<div class="category-blog">
			<h4 class="blog-sidebar__title">{{ block.settings.categories_title | escape }}</h4>
			<ul class="list-category">
			{%- for link in linklists[block.settings.menu_categories].links -%}
				<li{% if link.handle == blog.handle %} class="active"{% endif %}><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
			{%- endfor -%}
			</ul>
		</div>
	{%- endif -%}
    {%- if block.settings.relatedarticles_enable -%}
		{%- assign heading = block.settings.relatedarticles_title | escape -%}
		{%- assign limit = block.settings.relatedarticles_limit -%}
		<div class="related-artibles">
			<h4 class="blog-sidebar__title">{{ heading }}</h4>
			<div class="related-artibles__content">
				<ul class="related-artibles__list">
					{% for article in blogs[blog.handle].articles limit:limit %}
						<li class="related-artibles__item">
							<div class="related-artibles__card">
								{%- if article.image -%}
									<div class="related-artibles__card-image">
										<a href="{{ article.url }}">
											{% render 'img-global' with image: article.image, class: "img-fluid", effect: "fade-in" %}
										</a>
									</div>
								{%- endif -%}
								<div class="related-artibles__card-content">
									<div class="meta-date">
                        				{{ article.updated_at | date: "%b %d, %Y" }}
                        			</div>
									<a href="{{ article.url }}">{{ article.title }}</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
    {%- endif -%}
    {%- if block.settings.tags_enable and blog.all_tags.size > 0 -%}
		{%- assign heading = block.settings.tags_title | escape -%}
		{%- assign limit = block.settings.tags_limit -%}
		<div class="blog-tags">
			<h4 class="blog-sidebar__title">{{ heading }}</h4>
			<div class="blog-tags__content">
				<ul class="blog-tags__list">
					{% for tag in blog.all_tags limit:limit %}
						<li class="blog-tags__item">{{ tag | link_to_tag: tag }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
    {%- endif -%}
    {% content_for "blocks" %}
 </div>
{% schema %}
{
  "name": "Blog sidebar",
  "blocks": [{ "type": "@theme" },{ "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Blog search"
    },
    {
      "type": "text",
      "id": "search_title",
      "label": "Heading",
      "default": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enable",
      "label": "Enable",
      "default": true
    },
	{
      "type": "header",
      "content": "Blog Categories"
    },
    {
      "type": "checkbox",
      "id": "categories_enable",
      "label": "Enable",
      "default": true
    },
	{
      "type": "text",
      "id": "categories_title",
      "label": "Heading",
      "default": "Categories"
    },
	{
	  "type": "link_list",
	  "id": "menu_categories",
	  "label": "Menu Categories"
	},
    {
      "type": "header",
      "content": "Related Articles"
    },
    {
      "type": "checkbox",
      "id": "relatedarticles_enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "relatedarticles_title",
      "label": "Heading",
      "default": "Related Articles"
    },
    {
      "type": "range",
      "id": "relatedarticles_limit",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Number of article",
      "default": 6
    },
    {
      "type": "header",
      "content": "Blog Tags"
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable",
      "default": true
    },
    {
      "type": "text",
      "id": "tags_title",
      "label": "Heading",
      "default": "Articles Tags"
    },
    {
      "type": "range",
      "id": "tags_limit",
      "min": 1,
      "max": 20,
      "step": 1,
      "label": "Number of tags",
      "default": 10
    }
  ]
}
{% endschema %}