{%- assign page_item 		= block.settings.page_item | plus: 0 -%}
{%- assign select_columns 	=  section.settings.select_columns -%}
{%- assign layout_filter 	= section.settings.layout_filter -%}
{%- assign views_enable 	= section.settings.views_enable -%}
{%- assign sortby_enable 	= section.settings.sortby_enable -%}
{%- assign sidebar_enable 	= section.settings.sidebar_enable -%}
<div id="JsCollectionProduct" class="{{ select_columns }} {{section.settings.select_columns_sm}} {{section.settings.select_columns_xs}}">
	{%- if layout_filter != 'on_top' -%} 
	<div class="page-width" id="main-collection-filters" data-id="{{ block.id }}">
	    {% render 'filter-dropdown' with results: collection, layout_filter:layout_filter, sidebar_enable:sidebar_enable, categories_menu: block.settings.categories_menu, categories_enable:block.settings.categories_enable, categories_title:block.settings.categories_title, views_enable:views_enable, sortby_enable:sortby_enable %}
	</div>
	{%- endif -%}
	<div class="js-collection-content-product">
		<div id="ProductGridContainer">
			{%- paginate collection.products by page_item -%}
				{%- if collection.products.size == 0 -%}
					<div class="collection collection--empty page-width" id="product-grid" data-id="{{ block.id }}">
						<div class="title-wrapper center">
							<h2 class="title title--primary">
								{{ 'collection_template.empty' | t }}<br>
								{{ 'collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
							</h2>
						</div>
					</div>
					<div id="product_result_count" class="hidden">{{ 'collection_template.empty' | t }}</div>
				{%- else -%}
					{%- if layout_filter == 'on_top' -%}
					<div class="page-width" id="main-collection-filters" data-id="{{ block.id }}">
					    {% render 'filter-dropdown' with results: collection, layout_filter:layout_filter, sidebar_enable:sidebar_enable, categories_menu: block.settings.categories_menu, categories_enable:block.settings.categories_enable, categories_title:block.settings.categories_title, views_enable:views_enable, sortby_enable:sortby_enable %}
					</div>
					{%- endif -%}
					<div class="collection page-width {{ block.settings.layput_shop }}">
						<div id="product-grid" data-id="{{ block.id }}">
							<div class="products__row row">
								{%- for product in collection.products -%}
									{% if product.type != "Gift Cards" %}
										<div class="products__col">
										  {% render 'product-grid-item', product:product %}
										</div>
									{%- endif -%}
								{%- else -%}
									<div class="products__no-matches">{{ 'collections.general.no_matches' | t }}</div>
								{%- endfor -%}
							</div>
							{%- assign min_page = 1 -%}
							{%- assign max_page = paginate.page_size | times:paginate.current_page -%}
							{%- if paginate.current_page > 1 -%}
								{%- assign current_page = paginate.current_page | minus:1 -%}
								{%- endif -%}
							{%- if max_page > paginate.items -%}
								{%- assign max_page = paginate.items -%}
							{%- endif -%}
							{% assign percent =  max_page | times: 100 | divided_by: paginate.items %}
							<div id="product_result_count" class="hidden">{{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}</div>
							{%- if max_page <= paginate.items -%}
								<div class="js-collection-{{ section.settings.select_pagination }} page-collection-footer">
									{%- if block.settings.numproduct_enable and section.settings.select_pagination == 'loadmore' and percent < 100 -%}
										<div class="collection-product-count">{{ 'collections.general.product_count_html' | t: min_page:min_page, max_page:max_page, items_page:paginate.items }}</div>
										<div class="content-percent"><div class="percent" style="width:{{percent}}%"></div></div>
									{%- endif -%}
									{%- if paginate.pages > 1 -%}
										{% render 'pagination', paginate: paginate, select_pagination:section.settings.select_pagination %}
									{%- endif -%}
								</div>
							{%- endif -%}
						</div>
					</div>
				{%- endif -%}
			{%- endpaginate -%}
		</div>
	</div>	
</div>

{% schema %} {
    "name": "Collection pages",
    "settings": [
		 {
        "type": "header",
        "content": "Collection"
      },
      {
        "type": "checkbox",
        "id": "categories_enable",
        "label": "Enable",
        "default": true,
		"info":"only used for filter dropdown and on top"
      },
      {
        "type": "text",
        "id": "categories_title",
        "label": "Heading",
        "default": "Collection",
		"info":"only used for filter dropdown and on top"
      },
	  {
      "type": "link_list",
      "id": "categories_menu",
      "label": "Menu",
	  "info":"only used for filter dropdown and on top"
    },
	  {
        "type": "header",
        "content": "Layout shop"
      },
	  {
		  "type": "select",
		  "id": "layput_shop",
		  "label": "Layout shop",
		  "options": [
			{
			  "value": "simple",
			  "label": "Simple"
			},
			{
			  "value": "masonry",
			  "label": "Masonry"
			}
		  ],
		  "default": "simple"
		},
	  {
        "type": "header",
        "content": "Number products"
      },
		{
			"type": "range",
			"id": "page_item",
			"label": "Number of products in a page",
			"min": 1,
			"max": 24,
			"step": 1,
			"default": 12
		},
		{
			"type": "header",
			"content": "Product Count"
		},
		{
			"type": "checkbox",
			"id": "numproduct_enable",
			"label": "Enable",
			"default": true
		}
    ]
} {% endschema %}
