<!DOCTYPE html>
<html class="supports-fontface" lang="{{ shop.locale }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
    {% if settings.favicon %}<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />{% endif %}
    {% render 'social-meta-tags' %}
    {{ 'password.css' | asset_url | stylesheet_tag }}
    {{ 'css-variables.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
    <script>
      window.password = window.password || {};
      var password = {
        strings: {
          pageClose: {{ 'general.password_page.close' | t | json }}
        }
      };
    </script>
  </head>

  <body class="template-password">
    {{ content_for_layout }}
  </body>
</html>
