<section class="page-not-found">
	<div class="container">
		<div class="page-not-found__content">
			<h1 class="page-not-found__heading">
				{%- if section.settings.heading != blank -%}
					{{ section.settings.heading }}
				{%- else -%}
					{{ 'general.404.heading' | t }}
				{%- endif -%}
			</h1>
			<h3 class="page-not-found__title">
				{%- if section.settings.title != blank -%}
					{{ section.settings.title }}
				{%- else -%}
					{{ 'general.404.title' | t }}
				{%- endif -%}
			</h3>
			<div class="page-not-found__summary">
				{%- if section.settings.description != blank -%}
					{{ section.settings.description }}
				{%- else -%}
					{{ 'general.404.subtext_html' | t: link: routes.root_url }}
				{%- endif -%}
			</div>
			{%- if section.settings.btn_text != blank -%}
				<div class="page-not-found__button">
					<a class="btn-not-found" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
				</div>
			{%- endif -%}
		</div>
	</div>
</section>

{% schema %}
{
  "name": "404 Page",
  "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "404 heading",
      "default": "404"
    },
    {
      "type": "text",
      "id": "title",
      "label": "404 title",
      "default": "Oops! That page can't be found."
    },
    {
      "type": "html",
      "id": "description",
      "label": "404 Description",
      "default": "We're really sorry but we can't seem to find the page you were looking for."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "404 Button text",
      "default": "Back The Homepage"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "404 Button URL",
      "default": "/"
    }
  ]
}
{% endschema %}
